@font-face {
    font-family: BebasNeueBook;
    src: url(./../fonts/BebasNeueBook.ttf);
}
@font-face {
    font-family: BebasNeueRegular;
    src: url(./../fonts/BebasNeueRegular.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');

@import url('https://fonts.googleapis.com/css?family=Lato:400,900');