.portfolio {
    background-color: $gray-bg;
    &__container {
        padding: 90px 15px 100px;
    }
    &__title {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: $dark-gray;
        text-align: center;
    }
    &__subtitle {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 2em;
        margin: 0 auto;
        margin-bottom: 80px;
        max-width: 480px;
        width: 100%;
        color: $gray;
        text-align: center;
    }
    &__galerry-wrapper {
        text-align: center;
        padding-bottom: 110px;
    }
    &__filter-controls {
        display: flex;
        justify-content: center;
        margin-bottom: 65px;
        padding: 0 10px;
    }
    &__controls-item {
        font-size: 16px;
        margin-right: 25px;
        padding-bottom: 15px;
        color: $dark-gray;
        cursor: pointer;
        z-index: 10;
        &:nth-last-child(1) {
            margin-right: 0px;
        }
        &:hover {
            color: $green;
        }
        &.active {
            border-bottom: 2px solid; 
            border-color: $green;
        }   
    }
    &__img-responsive {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__filtr-item {
        height: 300px;
        width: 300px;
        padding: 10px;
    }
}

@media (max-width: 900px) {
  .filtr-item {
    height: 270px;
    width: 33%;
  }
}
@media (max-width: 600px) {
  .filtr-item {
    height: 200px;
    width: 50%;
  }
}
