.main-screen {
    position: relative;
    padding: 0 15px;
    background: url(./../img/main-screen-bg.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    &__subtitle {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 30px;
        letter-spacing: 0.3em;
        margin-bottom: 50px;
        text-align: center;
        @media (max-width: 750px) {
            font-size: 26px;
            margin-top: 100px;
        }
        @media (max-width: 530px) {
            font-size: 20px;
        }
    }
    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 60px;
        margin-bottom: 50px;
        text-align: center;
        @media (max-width: 750px) {
            font-size: 46px;
        }
        @media (max-width: 530px) {
            font-size: 34px;
        }
    }
    &__description {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 50px;
        text-align: center;
        @media (max-width: 750px) {
            font-size: 26px;
        }
        @media (max-width: 530px) {
            font-size: 20px;
        }
    }
    &__btn {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 18px;
        text-transform: uppercase;
        color: $white;
        height: 60px;
        width: 200px;
        border: 2px solid $white;
        background-color: transparent;
        border-radius: 3px;
        &:hover {
            background-color: $white;
            color: $dark-gray;
        }
    }
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 30px 0;
    &--fixed {
        position: fixed;
        background: rgba(182, 182, 182, 0.623);
        // padding: 10px 30px;
        padding: 10px 0;        
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        z-index: 10;
    }    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 750px) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    &__logo {
        &--part1 {
            font-family: 'BebasNeueBook';
            font-size: 48px;
            color: $red;
            @media (max-width: 400px) {
                font-size: 36px;
            }
        }
        &--part2 {
            font-family: 'BebasNeueRegular';
            font-size: 36px;
            color: $red;
            @media (max-width: 400px) {
                font-size: 22px;
            }
        }
    }
    &__nav {
        &--list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & li {
                margin-right: 60px;
                &:last-of-type {
                    margin-right: 0;

                }
                @media (max-width: 840px) {
                    margin-right: 40px;
                }
                @media (max-width: 750px) {
                    padding: 8px 0;
                    margin: 0;
                }
            }
            @media (max-width: 750px) {
                flex-direction: column;
                width: 100%;
            }
        }
        &--item {
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: $white;
            text-transform: capitalize;
            &:hover {
                color: $red;
            }
            &--active {
                color: $red;
            }
        }
        @media (max-width: 750px) {
            display: none;
            &.header__nav--open {
                display: block;
                width: 100%;
                background: rgba(182, 182, 182, .623);
            }
        }
    }
}

.nav {
    &__btn {
        display: none;
        width: 30px;
        height: 30px;
        border: 1px solid $white;
        border-radius: 4px;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease-in-out;
        @media (max-width: 750px) {
            display: block;
        }
        &:hover {
            background-color: rgba(234, 234, 234, 0.47);
        }
        span {
            display: block;
            width: 18px;
            height: 2px;
            background-color: $white;
            margin: 0 auto 3px;
            transition: all 0.3s ease-in-out;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &--animate {
            position: relative;
            border: none;
            background-color: transparent;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &:first-of-type {
                    transform: translate(-50%, -50%) rotate(225deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                    transform: scale(0);
                }
                &:last-of-type {
                    transform: translate(-50%, -50%) rotate(-225deg);
                }
            }
        }
    }
}

.scroll-down {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    border: 1px solid $white;
    border-radius: 50%;
    background-size: 14px auto;
    opacity: 1;
    z-index: 2;
    // animation: custom-animate 2s infinite;
    // -webkit-animation: bounce 2s infinite 2s;
    // transition: all 0.2s ease-in;
    // -webkit-transition: all 0.2s ease-in;
    transition: all 0.3s ease-in-out;
    animation: custom-animate 4s infinite;
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        border: 2px solid $white;
        border-width: 0px 0 2px 2px;
    }
    &:hover {
        border: 1px solid $red;
        &:before {
            color: $red;
        }
    }
}