.subscribe {
    background: url(./../img/subscribe-bg.png) center no-repeat;
    background-size: cover;
    &__container {
        padding: 75px 15px;
        display: flex;
        flex-direction: column;
        color: $white;
    }
    &__title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        @media (max-width: 500px) {
            flex-direction: column;
        }
        &--email {
            width: 770px;
            padding: 20px 20px 20px 80px;
            background-color: transparent;
            background: url(./../img/email-icon.png) 30px center no-repeat;
            color: $white;
            border: 1px solid $white;
            margin-right: 30px;
            @media (max-width: 660px) {
                padding: 15px 15px 15px 60px;
            }
            @media (max-width: 500px) {
                width: 100%;
                margin: 0 0 30px;
            }
            @media (max-width: 350px) {
                width: 260px;
                margin: 0 auto 30px;
            }
        }
        &--btn {
            width: 270px;
            background-color: $white;
            color: $black;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            border: 1px solid $white;
            @media (max-width: 660px) {
                font-size: 16px;
            }
            @media (max-width: 500px) {
                width: 100%;
                height: 47px;
            }
            @media (max-width: 350px) {
                width: 260px;
                margin: 0 auto;
            }
            &:hover {
                background-color: transparent;
                color: $white;
            }
        }
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
  }